*{
    margin: 0;
    padding: 0;
      font-family:century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
header{
    background-image: url(imges/nature1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}

ul li a{ 
    text-decoration: none;
    padding: 5px 20px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(67, 199, 235);
}
ul li a:hover{
    background-color: aliceblue;
    color: rgb(3, 191, 191);
}
.logo img{
    float: left;
    width: 70px;
}
.main{
    max-width: 1200px;
    margin: auto;
    }
ul li.active a{
    background-color: aliceblue;
    color: rgb(3, 191, 191); 
}
.tital{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.tital h1{
    color: aliceblue;
    font-size: 50px; 
    
}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.btn{
    border: 1px solid rgb(241, 6, 166);
    padding: 10px 30px;
    color: rgb(190, 196, 202);
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    color: rgb(58, 5, 142);
    background-color: rgb(209, 150, 150);
}